<!DOCTYPE html>
<html>
  <link href="css/style.css" rel="stylesheet" type="text/css">
<title> Urban Up⇞Beat</title>
<body>

   <h1 class="title">Urban Up⇞Beat</h1>

<div>
<p class="info">Urban Up⇞Beat is a personal shopping website that can help empower women through dressing for success!</p>
</div>



 <a href="/type_of_clothes"><button type="button">Click To Start Shopping!</button></a>



</body>
</html>